.duelWrapper{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    height:100%;
    text-align: center;
}

.ressources{
    justify-content: center;
    text-align: center;
}


.allyZone{
    justify-content: center;
    width: 50%;
}

.enemyZone{
    width: 50%;
    justify-content: center;
}

.healPoint{
    color: green;
}
.staminaPoint{
    color: blue;
}
.mobPicture{
    text-align: center;
}

.mobPicture img{
    width: auto;
    height: auto;
    max-height: 300px;
}

.spells{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}

.spells div{
    width: 48%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    border: solid 1px;
}

.spells div p{
    margin: 0;
}

.spellName{
    font-size: 16px;
    text-align: inherit;
    width: 100%;
    font-weight: bold;
}

.spellPicture{
    width: 25%;
    margin: 0 17.5% 0 7.5%;
    text-align: left;
    justify-content: left;
}

.spellDamage{
    font-size: 16px;
    width: 40%;
    text-align: right;
    justify-content: right;
    padding: 7.5% 5%;
}

.spellCost{
    font-size: 16px;
    width: 40%;
    text-align: right;
    justify-content: right;
    padding: 7.5% 5%;
}

.spellType{
    width: 50%;
    padding: 7.5% 0;
}


