.chooseButton{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.chooseButton div{
    width: 50%;
    text-align: center;
}

.chooseButton button{
    border: none;
    padding: 15% 30%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 250%;
}

.lightButton{
    background-color: #B2F8FF;
    color: white;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
}

.darkButton{
    background-color: #690707;
    color: black;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
}

.chooseButton .light{
    position: relative;
    z-index: 2;
}

.chooseButton .dark{
    position: relative;
    z-index: 2;
}


.chooseButton .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: all 1.5s ease-out;
    pointer-events: none;
    width: 100%;
    height: 200%;
    overflow: hidden;
}



.chooseButton .light:hover,
.chooseButton .light:hover~.bg{
    opacity: 1;
    background: #B2F8FF;
    transition: all 0.5s ease-out;
}

.chooseButton .dark:hover,
.chooseButton .dark:hover~.bg{
    opacity: 1;
    background: #690707;
    transition: all 0.5s ease-out;
}



